# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\react-samurai\projects\04-real-time-chat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
